.header {
	background-color: #917FB3;
	height: 1100px;
}


.header .inner { 
    text-align: center;
    height: 1100px;
}
.header .title {
    width: 1920px;
	float: left;
	font-size: 300px;
    margin: 0 auto;
    

}

@media (max-width: 1920px) and (min-width: 1080px) {
	.header {
		background-color: #917FB3;
	}
}


// @include mobile {
//     .header {
//         background-color: blue;
//     }
   
// }

// @include mobile-374 {
//     .header {
//         background-color: yellow;
//     }
    
// }
